.header {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 15px;
    background-color: #171b22;
    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;
        img {
            margin-right: 30px;
            height: 30px;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0px 30px;
        gap: 35px;
        font-size: 25px;
        &_link {
            color: #8b949e;
            cursor: pointer;
            &:hover {
                color: #58a6ff;
            }
        }
    }
}
